# FSDS - Python - Assignment 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 'hello'

-87.8
/ + 6

Answer : All the above

2. What is the difference between string and variable?

Answer : Variable is used to store any values. Even strings can be stored inside a variable in single or double quotes. In 
    python everything that is provided inside single or double quotes is treated as strings.

3. Describe three different data types.

Answer : 1) List , List is an mutable datatype and it stores the values inside []. Eg : [1,2,3]

     2) Tuple, Tuple is immutable datatype and the values are stored inside (). Eg : (1,2,3)

     3) Set , Set has an unordered elements with NO duplicates in it and it stores the values inside {}. Eg : {1,2,3}

     4) dictinary , It has Key : Value pairs and it stores the values inside {}. Eg : {Fruit : Apple, Color : Black}

4. What is an expression made up of? What do all expressions do?

Answer : Expressions are made up of Operators and operands.In general, Expressions are executed with the neccessary values and 
    operators to get the expected result. In Python, there are many expressions like, 1) Arithematic expression 
    2) Integral expression 3) Floating expression 4) Boolean expression 5) Logical expression etc

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Answer : spam = 10, Here statements refers to the action that spam is 10 and Expression tells that the value 10 gets stored 
    into the variable spam. Expressions can also be the statements.

6. After running the following code, what does the variable bacon contain?                                                    
bacon = 22                                                                                                                   
bacon + 1

Answer : bacon = 23

7. What should the values of the following two terms be?                                                                    
'spam' + 'spamspam'                                                                                                            
'spam'*3

Answer : 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Answer : In python, Variable names should start with letters or underscores. Here eggs is valid because it starts with letter
    and 100 is invalid as it starts with integer.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Answer : int,float,str

10. Why does this expression cause an error? How can you fix it?                                                          
'I have eaten'+ 99 +'burritos.'

Answer : This cause error as single quotes are used inbetween the string. It can be fixed by using '\'.

In [4]:
print('I have eaten\'99\'burritos.')

I have eaten'99'burritos.